@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
body{
    background-color: #eff5fa;
    font-family: 'Poppins', sans-serif;
}
.button{
    background-color: white;
    border-color: #a4ccea    ;
    border-width: 1px;
}
button:hover{
    color: #033bcc !important;;
}
.form-control{
    border: none!important;
}
.form-control:focus{
    box-shadow: none!important;
}
button:focus {
    box-shadow: none!important;
}